/* Corps de la page */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;  /* Suppression des marges par défaut du body */
    padding: 0; /* Ajout de padding pour éviter les bords collés */
}

/* Titres */
h1, h2, h5 {
    font-family: 'Playfair Display', serif;
    color: #444;
}

/* Header */
header {
    background-color: #e3f2fd;
    border-bottom: 1px solid #ddd;
}

/* Cartes de contenu */
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Formatage du code pré-formaté */
pre {
    font-family: 'Roboto Mono', monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Bandeau en tête avec image */
.banner {
    background-image: url('picture/IMG_20240912_124644.jpg'); /* Remplacez par le chemin de votre image */
    background-size: cover; /* Couvre toute la zone */
    background-position: center center; /* Position par défaut de l'image (centrée) */
    color: white;
    text-align: center;
    padding: 100px 0; /* Hauteur du bandeau */
    position: relative; /* Pour le bon positionnement du contenu */
}

/* Texte dans le bandeau */
.banner-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem; /* Taille du titre */
    font-weight: 700;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /* Ombre pour la lisibilité */
}

.banner-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Ombre pour la lisibilité */
}

/* Ajustements pour le bandeau en version bureau */
@media (min-width: 992px) {
    .banner {
        background-position: center 20%; /* Déplacer l'image pour mieux voir la tête */
    }
}

/* Ajustements pour le bandeau en version mobile */
@media (max-width: 991px) {
    .banner {
        background-position: center center; /* Garder le centrage pour les petits écrans */
    }
}

/* Assurez-vous que le contenu ne soit pas collé aux bords */
body {
    margin-top: 0;
    padding: 0;
}
